<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781940209042-c5fkqf8e9govms1hbhakgd8sg2mj22ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781940209042-c5fkqf8e9govms1hbhakgd8sg2mj22ef</string>
	<key>API_KEY</key>
	<string>AIzaSyDkFg57hSIxOvU91Wvm7f44kVZuS4BbZzU</string>
	<key>GCM_SENDER_ID</key>
	<string>781940209042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Practice.TinderSwift</string>
	<key>PROJECT_ID</key>
	<string>tinderswift-f08be</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderswift-f08be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781940209042:ios:25ca3b6e9620f5afccbd4b</string>
</dict>
</plist>